<div class="container">
    <div class="row p-2">
        <h2 id="{{folder.id}}" class="text-center">{{folder.name}}</h2> 
    </div>
    <div class="row p-2">
      <p class="text-center"> Add/Delete notes from this folder</p> 
      <br>
      <p class="text-center" id="delInfo"></p>
    </div>
    <div class="row p-2">
        <a type="button" id="startDel" class="btn btn-outline-secondary"> Edit </a> 
        <a type="button" id="doneEdit" class="btn btn-outline-danger" style="display:none;"> Done </a> 
    </div>
    <div id = "cardGrid" class="row row-cols-1 row-cols-md-auto g-4">
      <div class="col">
        <a type="button" class="d-flex flex-column justify-content-center align-items-center btn btn-outline-secondary" style="width: 12rem; height:14rem;" data-bs-toggle="modal" data-bs-target="#folderAddModal">
            <div class="folderIcons">
                <i class="bi bi-file-earmark-plus"></i>
            </div>
          <span> Add notes </span>
        </a>
      </div>
      {{#each alreadyAdded}}
      <div class="col" style="height: 14rem;">
        <a href="/folders/delete/{{this.folderid}}/{{this.id}}" class="btn btn-outline-danger deleteThisItem" style="visibility: hidden;"><i class="bi bi-x-lg"></i></a>
        <a href="/notes/{{this.id}}" style="width: 12rem;" class="btn d-flex flex-column justify-content-start align-items-center">
          <span class="font{{this.color}} folderIcons">
            <i class="bi bi-file-text-fill"></i>
          </span>
          <h5 class="titleRestrict {{this.font}}">{{this.title}}</h5>
        </a>
      </div>
      {{/each}}
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="folderAddModal" tabindex="-1" aria-labelledby="folderAddModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Link a Note to this List Item</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <ul class="list-group list-group-flush">
                {{#each newNotes}}
                    <button id="{{this.id}}" class="list-group-item {{this.font}} {{this.color}}" data-bs-dismiss="modal">{{this.title}}</button>
                {{/each}}
            </ul>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
  </div>
</div>

<script src="/javascript/folder.js"></script>
<script src="/javascript/titleRestrict.js"></script>
<script src="/javascript/revealDelete.js"></script>