<h2>All Lists</h2> 

<a type="button" class="btn btn-outline-secondary" href="/lists/newList"> Add a new List </a>

{{#each lists}}
<div id = "lists">
    <div class="card {{this.color}}" style="width: 18rem;">
    <div class="card-body">
        <div class= "{{this.font}}">
            <h5 class="card-title">{{this.title}}</h5>
            <ul>
                {{#each this.items}}
                    <li>
                    {{#if this.linked}}
                        <a href = "/notes/{{this.link}}"> {{this.text}} </a>
                    {{else}}
                         {{this.text}} 
                    {{/if}}
                    </li>
                {{/each}}
            </ul>
        </div>
        <a href="/lists/{{this.id}}" class="btn btn-outline-primary">Edit</a>
        <a href="/lists/delete/{{this.id}}" class="btn btn-outline-danger">Delete</a>
    </div>
    </div>
</div>
{{/each}}
