<div class="container">
    <div class="row p-2">
        <h2 class="text-center">All Lists</h2> 
    </div>
    <div class="row p-2">
        <p class="text-center">Here lies all of the lists you have created. You are able to edit or delete them. 
            <br>In each list are items, either linked to a note. Follow the link to edit/view that linked note. You can also add a new list.</p> 
    </div>
    <div id = "cardGrid" class="row row-cols-1 row-cols-md-auto g-4">
        <div class="col">
            <a type="button" class="d-flex flex-column justify-content-center align-items-center btn btn-outline-secondary" href="/lists/newList" style="width: 15rem; height: 19rem;">
            <div class="folderIcons">
                <i class="bi bi-plus-lg"></i>
            </div>
            <span style="font-size:2rem;"> Add a new List </span>
            </a>
        </div>
        {{#each lists}}
            <div class="col">
                <div class="card {{this.color}}" style="width: 15rem; height: 19rem;">
                    <div class="card-body">
                        <div class = "{{this.font}}">
                            <h5 class="card-title b-titleRestrict">{{this.title}}</h5>
                            <ul>
                                {{#each this.items}}
                                    <li>
                                    {{#if this.linked}}
                                        <a href = "/notes/{{this.link}}" class="btn"> 
                                            <i class="bi bi-link"></i>
                                            <span class="titleRestrict"> {{this.text}} </span> 
                                        </a>
                                    {{else}}
                                        {{this.text}} 
                                    {{/if}}
                                    </li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="/lists/{{this.id}}" class="btn btn-outline-primary">Edit</a>
                        <a href="/lists/delete/{{this.id}}" class="btn btn-outline-danger">Delete</a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>

<script src="/javascript/titleRestrict.js"></script>