<div class="container">
	{{#if error}}
	<div class="row justify-content-center" style="width: 92vw;">
		<div class="alert alert-danger" role="alert">
			{{error}}
		</div>
	</div>
	{{/if}}
	<div class="row p-2">
		<div class="d-flex flex-column">
			{{#if user}}
			<a href="/lists/" class="btn btn-secondary" style="width: 10rem;"> <i class="bi bi-caret-left"></i> All Lists</a>
			{{else}}
			<a href="/" class="btn btn-secondary" style="width: 10rem;"> <i class="bi bi-caret-left"></i> Home</a>
			{{/if}}
			<h2 class="text-center">Create New List</h2>
		</div>
    </div>
	<div class="row">
        <p class="text-center">Click on the title to edit them. Enter a new list item and add it to append it to the list. Custimize the note by selecting a font and color. <br> Don't forget to save. If you're not logged in, all progress will be lost. </p> 
    </div>
	<div class="row justify-content-center align-items-center" style="height: 60vh;">
		<form id = "wrapper" class = "c-grey" method="POST" action="/lists/save">
			<div class="form-row">
				<label class="col-2"for="inputTitle" style="display:none;">Title:</label>
				<input name="title" type="text" id="inputTitle" class="col-6 form-control f-helvetica fontChange text-center" placeholder="Add a new Title" maxlength="45" required>
			</div>
			<div class="row py-2">
				<div class="form-group col">
					<label for="fonts">Font:</label>
					<select class="form-control col-4 fontChange f-helvetica" id="fonts" name="fontlist" form="wrapper">
						<option value="f-helvetica">Helvetica</option>
						<option value="f-arial">Cairo</option>
						<option value="f-squarepeg">Playfair Display</option>
					</select>
				</div>
				<div class="form-group col">
					<label for="colors">Color:</label>
					<select class="form-control col-4" id="colors" name="colorlist" form="wrapper">
						<option value="c-grey">Grey</option>
						<option value="c-red">Red</option>
						<option value="c-orange">Orange</option>
						<option value="c-yellow">Yellow</option>
						<option value="c-green">Green</option>
						<option value="c-mint">Mint</option>
						<option value="c-blue">Blue</option>
						<option value="c-purple">Purple</option>
						<option value="c-pink">Pink</option>
					</select>
				</div> 
			</div>
			<hr>
			<ul class="container">
				<div id="items">
				</div>
				<li>
					<div class="row align-items-center">
						<div class="col-auto">
							<input name="newItem" type="text" id="inputItem" class="form-control form-control-sm fontChange f-helvetica" placeholder="Enter new item">
						</div>
						<div class="col-auto">
							<button id="addItem" class="btn btn-success btn-sm">+</button>
						</div>
					</div>
				</li>
			</ul>
			<div class="form-row py-2">
				<button type="submit" class="btn btn-primary" id="savebtn">Save</button>
			</div>
		</form>
	</div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="canvasNote" aria-labelledby="offcanvasRightLabel">
	<div class="offcanvas-header">
		<h5 id="offcanvasRightLabel"> </h5>
		<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	</div>
	<div class="offcanvas-body">
	</div>
</div> 

<div class="col-auto">
	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Link a Note to this List Item</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				{{#if notes}}
				<ul class="list-group list-group-flush">
					{{#each notes}}
						<a id="{{this.id}}" class="list-group-item list-group-item-action {{this.font}} {{this.color}}" data-bs-dismiss="modal">{{this.title}}</a>
					{{/each}}
				</ul>
				{{else}}
                <p class="text-muted">No notes available</p>
				{{/if}}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
	</div>
</div>

<script src="/javascript/list.js"></script>
<script src="/javascript/color.js"></script>
<script src="/javascript/titleRestrict.js"></script>