{{error}}
<form id = "wrapper" class="{{note.font}} {{note.color}}" method="POST" action="/notes/save/{{note.id}}">
	<div class="row align-items-center">
		<div class="col-auto">
			<label for="inputTitle" class="col-form-label">Title:</label>
		</div>
		<div class="col-auto">
            <input name="title" value="{{note.title}}" type="text" id="inputTitle" class="form-control form-control-sm" required>
		</div>
	</div>

	<div class="form row">
		<label class="col-2" for="fonts">Font:</label>
		<select class="form-control col-4" id="fonts" name="fontlist" form="wrapper">
			<option value="f-helvetica" {{#if font.[0]}} selected {{/if}}>Helvetica</option>
			<option value="f-arial" {{#if font.[1]}} selected {{/if}}>Arial</option>
			<option value="f-squarepeg" {{#if font.[2]}} selected {{/if}}>Square Peg</option>
		</select>
		<label class="col-2" for="colors">Color:</label>
		<select class="form-control  col-4" id="colors" name="colorlist" form="wrapper">
			<option value="c-grey" {{#if color.[0]}} selected {{/if}}>Grey</option>
			<option value="c-red"{{#if color.[1]}} selected {{/if}}>Red</option>
			<option value="c-orange"{{#if color.[2]}} selected {{/if}}>Orange</option>
			<option value="c-yellow"{{#if color.[3]}} selected {{/if}}>Yellow</option>
			<option value="c-green"{{#if color.[4]}} selected {{/if}}>Green</option>
			<option value="c-mint"{{#if color.[5]}} selected {{/if}}>Mint</option>
			<option value="c-blue"{{#if color.[6]}} selected {{/if}}>Blue</option>
			<option value="c-purple"{{#if color.[7]}} selected {{/if}}>Purple</option>
			<option value="c-pink"{{#if color.[8]}} selected {{/if}}>Pink</option>
		</select>
	</div>

	<div class="row align-items-center">
		<textarea name="noteContent" class="form-control" rows="3">{{note.text}}</textarea>
	</div>
	<button type="submit" class="btn btn-primary">Save</button>
</form>

<script src="/javascript/color.js"></script>